{
    "gameserver_1" : {
        "ip" : "127.0.0.1",
        "cluster_ip" : "127.0.0.1",
        "cluster_port" : 3301,
        "http_port" : 8886,
        "http_url" : "http://127.0.0.1:8886",
        "websocket_port" : 8887,
        "websocket_url" : "ws://127.0.0.1:8887/websocket",
        "tcp_port" : 8888,
        "kcp_port" : 8889,
        "debug_port" : 18888,
        "id" : "gameserver_1",
        "name" : "林光亮服",
        "index" : 1,
        "type" : "gameserver",
        "zoneid" : "dev1",
        "zonename" : "内网1区",
        "area" : "dev",
        "areaname" : "内网",
        "env" : "dev",
        "envname": "内网环境",
        "opentime" : "2018-09-11 17:45:00"
    }
}
