{
	"gamesrv_50" : {
		"ip" : "111.230.108.129",
		"cluster_ip" : "172.16.0.7",
		"cluster_port" : 3301,
		"tcp_port" : 8888,
		"kcp_port" : 8889,
		"websocket_port" : 8890,
		"http_port" : 8891,
		"debug_port" : 18888,
		"id" : "gamesrv_50",
		"name" : "游戏50服",
		"index" : 1,
		"type" : "gamesrv",
		"zoneid" : "test1",
		"zonename" : "外网测试1区",
		"area" : "test",
		"areaname" : "外网测试区",
		"env" : "test",
		"envname": "外网测试环境",
		"opentime" : "2018-09-11 17:45:00"
	},
	"gamesrv_51" : {
		"ip" : "111.230.108.129",
		"cluster_ip" : "172.16.0.7",
		"cluster_port" : 3302,
		"tcp_port" : 9888,
		"kcp_port" : 9889,
		"websocket_port" : 9890,
		"http_port" : 9891,
		"debug_port" : 19888,
		"id" : "gamesrv_51",
		"name" : "游戏51服",
		"index" : 2,
		"type" : "gamesrv",
		"zoneid" : "test1",
		"zonename" : "外网测试1区",
		"area" : "test",
		"areaname" : "外网测试区",
		"env" : "test",
		"envname": "外网测试环境",
		"opentime" : "2018-09-11 17:45:00"
	}
}
