{
	"gamesrv_1" : {
		"ip" : "127.0.0.1",
		"cluster_ip" : "127.0.0.1",
		"cluster_port" : 3301,
		"tcp_port" : 8888,
		"kcp_port" : 8889,
		"websocket_port" : 8890,
		"http_port" : 8891,
		"debug_port" : 18888,
		"id" : "gamesrv_1",
		"name" : "游戏1服",
		"index" : 1,
		"type" : "gamesrv",
		"zoneid" : "dev1",
		"zonename" : "内网1区",
		"area" : "dev",
		"areaname" : "内网",
		"env" : "dev",
		"envname": "内网环境",
		"opentime" : "2018-09-11 17:45:00"
	},
	"gamesrv_2" : {
		"ip" : "127.0.0.1",
		"cluster_ip" : "127.0.0.1",
		"cluster_port" : 3302,
		"tcp_port" : 9888,
		"kcp_port" : 9889,
		"websocket_port" : 9890,
		"http_port" : 9891,
		"debug_port" : 19888,
		"id" : "gamesrv_2",
		"name" : "游戏2服",
		"index" : 2,
		"type" : "gamesrv",
		"zoneid" : "dev1",
		"zonename" : "内网1区",
		"area" : "dev",
		"areaname" : "内网",
		"env" : "dev",
		"envname": "内网环境",
		"opentime" : "2018-09-11 17:45:00"
	}
}
