[submodule "gamesrv/skynet"]
	path = gamesrv/skynet
	url = https://github.com/sundream/skynet
[submodule "tools/proto/sproto/sprotodump"]
	path = tools/proto/sproto/sprotodump
	url = https://github.com/sundream/sprotodump
[submodule "gamesrv/src/gg/like_skynet/3rd/lfs"]
	path = gamesrv/src/gg/like_skynet/3rd/lfs
	url = https://github.com/sundream/luafilesystem
[submodule "gamesrv/src/gg/like_skynet/3rd/lua-cjson"]
	path = gamesrv/src/gg/like_skynet/3rd/lua-cjson
	url = https://github.com/sundream/lua-cjson
[submodule "gamesrv/src/gg/like_skynet/3rd/lua-protobuf"]
	path = gamesrv/src/gg/like_skynet/3rd/lua-protobuf
	url = https://github.com/sundream/lua-protobuf
[submodule "gamesrv/src/gg/like_skynet/3rd/skynet_package"]
	path = gamesrv/src/gg/like_skynet/3rd/skynet_package
	url = https://github.com/sundream/skynet_package
[submodule "gamesrv/src/gg/like_skynet/3rd/crab"]
	path = gamesrv/src/gg/like_skynet/3rd/crab
	url = https://github.com/sundream/crab
[submodule "gamesrv/src/gg/like_skynet/3rd/lua-aes"]
	path = gamesrv/src/gg/like_skynet/3rd/lua-aes
	url = https://github.com/sundream/lua-aes
[submodule "gamesrv/src/gg/like_skynet/3rd/lua-webclient"]
	path = gamesrv/src/gg/like_skynet/3rd/lua-webclient
	url = https://github.com/sundream/lua-webclient
[submodule "gamesrv/src/gg/like_skynet/3rd/lua-websocket"]
	path = gamesrv/src/gg/like_skynet/3rd/lua-websocket
	url = https://github.com/sundream/lua-websocket
