current_dir = "."
src_dir = "../../"
lualoader = current_dir .. "/lualib/loader.lua"
lua_path = src_dir.."/?.lua;" .. current_dir.."/lualib/?.lua;"..current_dir.."/lualib/?/init.lua"
lua_cpath = current_dir.."/luaclib/?.so"
luaservice = src_dir.."/?.lua;" .. current_dir.."/service/?.lua;"
cpath = current_dir.."/cservice/?.so"

bootstrap = "snlua bootstrap"	-- The service for bootstrap
thread = 8
harbor = 0
logpath = "../../log"
logger = logpath .. "/skynet.log"
--daemon = "./skynet.pid"
start = "app/main"	-- main script



