src_dir = "./src"
gg_dir = src_dir .. "/gg/like_skynet"
skynet_dir = src_dir .. "/gg/skynet"
lualoader = skynet_dir .. "/lualib/loader.lua"
lua_path = src_dir.."/lualib/?.lua;" .. src_dir.."/?.lua;" .. gg_dir.."/lualib/?.lua;" .. skynet_dir.."/lualib/?.lua;"..skynet_dir.."/lualib/?/init.lua"
lua_cpath = src_dir.."/luaclib/?.so;" .. gg_dir.."/luaclib/?.so;" .. skynet_dir.."/luaclib/?.so"
luaservice = src_dir.."/?.lua;" .. gg_dir.."/service/?.lua;" .. skynet_dir.."/service/?.lua;"
cpath = gg_dir.."/cservice/?.so;" .. skynet_dir.."/cservice/?.so"

bootstrap = "snlua bootstrap"	-- The service for bootstrap

thread = 8							-- work thread数量
harbor = 0
logpath = "log"						-- 日志存放目录
logger = logpath .. "/skynet.log"	-- 引擎日志输出文件
log_dailyrotate = true				-- 是否按天切分日志
loglevel = "info"					-- 日志级别: debug/trace/info/warn/fatal
--daemon = logpath .. "/skynet.pid"
start = "app/game/main"					-- 启动脚本


onlinelimit = 10240     -- 最大在线人数
socket_max_num = 65535	-- 网关最大接受的连接数
socket_timeout = 18000  -- 客户端连接多久不活跃自动关闭连接,单位为1/100s
msg_max_len = 65535	 -- C2GS/GS2C单个包最大字节数
encrypt_algorithm = nil	-- nil/false--不握手,"nil"--握手告知客户端不加密,其他--握手时和客户端协商密钥

console = "console"     -- logger.print默认输出文件
--文档存放路径
--docpath="../doc"
appid = "appid"
appkey = "secret"
-- 登录服地址
loginserver = "127.0.0.1:8885"
loginserver_appkey = "secret"
open_kuafu = true   -- 是否可以跨服

-- 发送邮件配置
--mail_smtp = "发件人邮箱smtp"
--mail_user = "发件人邮箱帐号"
--mail_password = "发件人邮箱密码"
--bugreport_mails = "逗号分割的邮件列表"
