current_dir = "."
src_dir = "../src"
gg_dir = src_dir .. "/gg/like_skynet"
lualoader = current_dir .. "/lualib/loader.lua"
lua_path = src_dir.."/?.lua;" .. gg_dir.."/lualib/?.lua;" .. current_dir.."/lualib/?.lua;"..current_dir.."/lualib/?/init.lua"
lua_cpath = gg_dir.."/luaclib/?.so;" .. current_dir.."/luaclib/?.so"
luaservice = src_dir.."/?.lua;" .. gg_dir.."/service/?.lua;" .. current_dir.."/service/?.lua;"
cpath = gg_dir.."/cservice/?.so;" .. current_dir.."/cservice/?.so"

bootstrap = "snlua bootstrap"	-- The service for bootstrap

thread = 8							-- work thread数量
harbor = 0
--daemon = "./skynet.pid"
logpath = "../log"					-- 日志存放目录
logger = logpath .. "/skynet.log"	-- 引擎日志输出文件
log_dailyrotate = true				-- 是否按天切分日志
loglevel = "debug"					-- 日志级别: debug/trace/info/warn/fatal
start = "app/main"					-- 启动脚本


-- 发送邮件配置
--mail_smtp = "发件人邮箱smtp"
--mail_user = "发件人邮箱帐号"
--mail_password = "发件人邮箱密码"
--bugreport_mails = "逗号分割的邮件列表"

onlinelimit = 10240		-- 连线数量限制
db_type = "redis"		-- db类型,redis/mongodb
proto_type = "sproto"	-- 协议类型protobuf/sproto/json
-- nil/false--不握手,"nil"--握手告知客户端不加密,其他--握手时和客户端协商密钥
encrypt_key = nil
