include "common.config"

thread = 8
harbor = 0
bootstrap = "snlua bootstrap"	-- The service for bootstrap
logpath = "../log"
logger = logpath .. "/skynet.log"
log_dailyrotate = 1
--daemon = "./skynet.pid"
start = "app/main"	-- main script

cluster = src_dir .. "/app/config/cluster_dev.config"
tcp_port = 8888
kcp_port = 8889
websocket_port = 8890
debug_port = 1 .. tcp_port
loglevel = "debug"
appid = "appid"
zoneid = "dev1"
area = "dev"
env = "dev"
id = "gamesrv_1"
type = "gamesrv"
accountcenter = "127.0.0.1:8887"
