include "common.config"

thread = 8
harbor = 0
bootstrap = "snlua bootstrap"	-- The service for bootstrap
logpath = "../log"
logger = logpath .. "/skynet.log"
log_dailyrotate = 1
--daemon = "./skynet.pid"
start = "app/main"	-- main script

cluster = src_dir .. "/app/config/cluster_dev.config"
tcp_port = 9888
kcp_port = 9889
websocket_port = 9890
debug_port = 1 .. tcp_port
loglevel = "debug"
appid = "appid"
zoneid = "test1"
area = "test"
env = "test"
id = "gamesrv_51"
type = "gamesrv"
cluster = src_dir .. "/app/config/cluster_" .. env .. ".config"
accountcenter = "172.16.0.7:8887"
